  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 32px;
    column-gap: 30px;
    margin: 0 auto;
  }

  .button-more {
    max-width: 320px;
    width: 100%;
    margin: 45px auto 160px auto;
    height: 36px;
    border-radius: 6px;
    background-color: #2f2f2f;
    border: none;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
  }
  
  .button-more:hover {
    opacity: 0.8;
    transition: 0.3s ease-out 0.1s;
  }

  .button-none{
    height: 140px;
    width: 100%;
    display: block;
    background-color: transparent;
  }
  
  @media (max-width: 768px) {
    .cards {
      column-gap: 24px;
      row-gap: 35px;
    }
    .button-more {
      margin-top: 65px;
    }
  }
  
  @media (max-width: 556px) {
    .cards {
      row-gap: 15px;
    }
    .button-more {
      width: 240px;
    }
  }