.line-decor {
    margin-top: 23px;
    height: 1px;
    width: 100%;
    background-color: #fff;
  }
  
  @media (max-width: 768px) {
    .line-decor {
      margin-top: 22px;
    }
  }
  
  @media (max-width: 320px) {
    .line-decor {
      margin-top: 28px;
    }
  }