.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 74px;
    height: 100%;
    align-items: center;
    box-sizing: border-box;
    padding: 0 70px;
  }
 
  .header_page_films {
    max-width: 100%;
    justify-content: flex-start;
    gap: 30px;
  }

  @media (max-width: 768px) {
    .header {
      padding: 0 30px;
    }
  }
  
  @media (max-width: 556px) {
    .header_page_films {
      padding: 0 4px 0 4px;
    }
    .header {
      padding: 0 14px;
    }
  }