.checkbox__input {
    display: none;
  }
  
  .checkbox__input:checked ~ .visible-checkbox {
    background-color: #343434;
  }
  
  .checkbox__input:checked ~ .visible-checkbox::before {
    background-color: #a0a0a0;
    left: 2px;
  }
  
  .checkbox {
    font-size: 12px;
    line-height: 18px;
    display: flex;
    flex-direction: row-reverse;
    gap: 12px;
    cursor: pointer;
  }
  
  @media (max-width: 556px) {
    .checkbox {
      margin-top: 15px;
      font-size: 11px;
    }
  }
  
  .visible-checkbox:hover {
    opacity: 0.8;
    transition: 0.3s ease-out 0.1s;
  }
  
  .visible-checkbox {
    position: relative;
    display: block;
    width: 36px;
    height: 20px;
    background-color: #3ddc84;
    border-radius: 20px;
    transition: 0.3s ease-in 0.1s;
  }
  
  .visible-checkbox::before {
    content: "";
    position: absolute;
    top: 2px;
    right: 2px;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s ease-in 0.1s;
  }