.technologies {
  background-color: #272727;
  max-width: 100%;
  min-width: 320px;
  width: 100%;
  padding: 100px 30px 100px 30px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .technologies {
    padding: 11.7vw 6.5vw;
  }
}

@media (max-width: 556px) {
  .technologies {
    background-color: #202020;
    padding: 70px 15px;
  }
}

.technologies__title {
  margin: 90px 0 0 0;
  text-align: center;
}

@media (max-width: 768px) {
  .technologies__title {
    margin-top: 80px;
  }
}

@media (max-width: 556px) {
  .technologies__title {
    margin-top: 49px;
    font-size: 30px;
    letter-spacing: -1.2px;
  }
}

.technologies__subtitle {
  text-align: center;
  margin: 26px auto 0;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.56px;
  max-width: 460px;
}

@media (max-width: 768px) {
  .technologies__subtitle {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
    margin-top: 22px;
  }
}

@media (max-width: 556px) {
  .technologies__subtitle {
    margin-top: 13px;
    font-size: 11px;
    line-height: 16px;
  }
}

.technologies__list {
  margin: 100px 0 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .technologies__list {
    margin-top: 86px;
  }
}

@media (max-width: 556px) {
  .technologies__list {
    margin: 50px auto 0 auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 176px;
  }
}

.technologies__item {
  width: 90px;
  padding: 21px 0 22px;
  background-color: #303030;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  letter-spacing: -0.56px;
}

@media (max-width: 768px) {
  .technologies__item {
    width: 83px;
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}

@media (max-width: 320px) {
  .line-decor_color_black {
    background-color: #000;
  }
}
